<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->
    <title>市長，給問嗎？</title>
    <meta content="市長，給問嗎？" property="og:site_name" />
    <meta content="市長，給問嗎？" property="og:title" />
    <meta content="「市長，給問嗎？」是沃草（Watchout）團隊製作的網站，希望讓整個城市都是公民的質詢台，讓選民藉由提問與連署，與未來的執政者進行溝通，進而改變「一日公民」的選舉文化。" property="og:description"/>
    <meta content="images/fb-img.jpg" property="og:image" />
    
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="http://static.tumblr.com/vr9xgox/PuGmmhqcs/normalize.css">
    <link rel="stylesheet" href="http://static.tumblr.com/vr9xgox/qE8n2yg06/optica-icons.css">
    <link rel="stylesheet" href="http://static.tumblr.com/vr9xgox/lu6nbykui/main.css">

    <!-- HTML5 Shiv -->
    <!--[if lt IE 9]>
        <script src="http://static.tumblr.com/hriofhd/Qj0m8pn7q/html5shiv.js"></script>
    <![endif]-->
    <style>
    #blog_main_title {
        font-size: 30px;
    }
    </style>
    
</head>
<body>
   
    <section id="page">
       <%- data %>
    </section>
    
</body>
</html>